html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0; 
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}

.Header {
  height: 10%; 
  padding-bottom: 30px;
  padding-top: 20px;
  background: #338078;
  color: white;
  line-height: 15px;
  font-family: coco;
}

#text-header{
  padding-top: .1px;
  padding-bottom: .5px;
}

.Content {
  display: flex;
  flex: 1;
}

.Contact {
  flex: 1;
  background: lightgrey;
  padding: 20px;
  text-align: right;
  font-family: century;
  height: 100vh;
  flex-grow: 1;
}

.Experience {
  flex: 2;
  text-align: left;
  padding: 20px;
  font-family: century;
  padding-top: 20px;

}

a {
  text-decoration: none;
  transition: 0.1s;
  color: black;
}

a:hover{
  text-decoration: none;
  color: #338078;
}

@font-face {
  font-family: century;
  src: url(centurygothic.ttf);
}

@font-face {
  font-family: coco;
  src: url(Cocogoose-Pro-Ultralight-trial.ttf);
}

@media only screen and (max-width: 768px) {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0; 
    font-size: small;
  }

  .App {
    overflow: auto;
  }

  .Header {
    height: 5%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 8px;
  }

  .Content {
    flex-direction: column;
  }

  .Contact {
    flex: 1;
    padding: 10px;
  }

  .Experience {
    flex: 1;
    padding: 10px;
  }
}
